<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honeywen.push.dao.ChannelMapper">

    <resultMap id="BaseResultMap" type="com.honeywen.push.entity.Channel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="send_key" property="sendKey" jdbcType="VARCHAR"/>
        <result column="isforbidden" property="isforbidden" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="columns">
        id,
        name,
        email,
        user_id,
        send_key,
        isforbidden
    </sql>

    <insert id="addChannel" parameterType="com.honeywen.push.entity.Channel" useGeneratedKeys="true" keyProperty="id">
        insert into t_channel(
          name,
          email,
          user_id,
          send_key,
          isforbidden,
          ticket)
          values (
            #{name},
            #{email},
            #{userId},
            #{sendKey},
            #{isforbidden},
            #{ticket})
    </insert>

    <select id="getChannel" parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="columns"/>
        from t_channel where user_id = #{userId}
    </select>

    <select id="getChannelByName" parameterType="com.honeywen.push.entity.Channel" resultMap="BaseResultMap">
        select
        <include refid="columns"/>
        from t_channel where name =#{name} and user_id = #{userId}
    </select>

    <select id="getChannelById" parameterType="com.honeywen.push.entity.Channel" resultMap="BaseResultMap">
        select
        <include refid="columns"/>
        from t_channel where id =#{id} and user_id = #{userId}
    </select>

    <select id="getChannelByChannelId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="columns"/>
        from t_channel where id =#{id}
    </select>

    <update id="editChannel" parameterType="com.honeywen.push.entity.Channel">
        update t_channel
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="ticket != null">
                ticket = #{ticket},
            </if>
            <if test="isforbidden != null">
                isforbidden = #{isforbidden},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteChannelById" parameterType="com.honeywen.push.entity.Channel">
        delete from t_channel where id = #{id} and user_id = #{userId}
    </delete>


    <select id="findSubscribeList" parameterType="integer" resultType="com.honeywen.push.entity.User">
        SELECT
        u.id,
        u.nickname,
        u.head_img_url,
        u.open_id,
        u.union_id
        FROM t_user_channel uc
        INNER JOIN t_user u on u.id = uc.user_id
        WHERE uc.channel_id = #{channelId}

    </select>
</mapper>