<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honeywen.push.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.honeywen.push.entity.SysUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="isAdmin" property="isAdmin" jdbcType="VARCHAR"/>
        <result column="isForbidden" property="isForbidden" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="sysUserColumns">
        id,
        openid,
        isAdmin,
        isForbidden
    </sql>

    <select id="getAllUsers" resultMap="BaseResultMap">

        SELECT
          <include refid="sysUserColumns"/>
        FROM sys_users where 1=1
        <if test="queryOpenid != null and queryOpenid != ''">
            and openid like concat('%',#{queryOpenid},'%')
        </if>
        <if test="queryForbidden != null and queryForbidden !=''">
            and isforbidden = #{queryForbidden}
        </if>
        <if test="queryAdmin != null and queryAdmin !='' ">
            and isadmin = #{queryAdmin}
        </if>

        order by isforbidden ,  isadmin , id desc

    </select>

    <update id="setForbiddenById" parameterType="map">
        UPDATE SYS_USERS SET ISFORBIDDEN = #{forbidden} WHERE ID = #{id}
    </update>
</mapper>